a:hover {
    letter-spacing: 2px;
    padding: 10px;
  }
  
  .nav {
    padding: 10px;
  }
  
  .title {
    font-family: 'VTCColorful', serif;
    text-transform: uppercase;
    font-size: 190%;
  }

  p{
    font-family: "EB Garamound", serif;
    font-weight: bold;

  }

  h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    
  }
  
body{
    color: rgb(183, 22, 22);
    font-size: 190%;
    background-color: beige;
}